.card-section {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    width: 300px;
    height: 200px;
    border: 1px solid silver;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin: 10px;
    padding: 10px;
  }
  
  .card-header,
  .card-textarea {
    width: 100%;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: silver;
  }


  
  button {
    margin-top: 10px;
  }
  
  .select-code select {
    width: 10vw;
    padding: 8px;
    border: none;
    appearance: none;
    background-color: #252525;
    color: white;
    font-size: 14px;
    min-height: 5vh;
    text-align: center;
    border-right:1px solid silver;
    margin-right: 1px;
    cursor: pointer;
  }
  .select-code select:focus {
    outline: none; /* Remove the default focus outline */
  }
  
  .select-code select::-moz-focus-inner {
    border: 0; /* Remove Firefox dotted border on focus */
  }
